* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
  }

@font-face {
    font-family: odin;
    src: url(norse-bold.otf);
}
#first_name:hover{
    border-color: black;
}

input:invalid{
    border-color: red;
}
input:placeholder-shown{
    border-color: rgb(236, 236, 236);
}
input:hover{
    border: 1px solid black;
}
input:focus{
    border-color: blue;
    box-shadow: slategray 0px 0.1rem;
} 

input{
    border-style:solid;
    border-width: 0.1rem;
    padding:3px;
    /* border-top:0;
    border-left:0;
    border-right:0; */
    width: 15vw;
    height: 1.5rem;
}

a, a:visited{
    color: white;
}

label{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

form{
    background-color: white;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    width: 65vw;
}

fieldset{
    border: 0px;
    display: flex;
    flex-direction: row;
    flex: auto;
}

body{
    color: #5D6063;
    background-color: lightgray;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content:space-between;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:left;
}

header{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:left;
    padding-right: 5vw;
    padding-left: 5vw;
}

.wrapper{
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    text-align:left;
    justify-content: space-around;
    justify-items: stretch;
    max-width: 65vw;
}

.image{
    position: relative;
    height: 100vh;
    left: 0px;
    font-family: odin;
}

.fieldgroup{
    margin: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15vw;
    margin-left: 50px;
    margin-right: 50px;
}

.input{
    box-shadow: slategray 0px 0.2rem;
}

#leaves{
    position: absolute;
    width: 35vw;
    height: 100vh;
}

#odin_holder{
    position: sticky;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 35vw;
    height: 10rem;
    display: flex;
    flex: 0 1 0;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    font-family: odin;
   
    font-size: 3rem;
}

#odin{
    min-width: 5rem ;
    max-height: 10rem;
    opacity: 1;
}

#credit{
    position: fixed;
    bottom: 10px;
    color: white;
    font-size: 1rem;
}
